.addtask{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}

.addtask form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.addtask label{
    font-size: 20px;
    margin-right: 5px;
}

.addtask input{
    font-size: 18px;
    padding: 7px;
    border: 1px solid #878787;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
}

.addtask input:focus{
    outline: none;
}

.addtask select{
    font-size: 18px;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.addtask button{
    font-size: 18px;
    padding: 7px 10px;
    margin: 10px;
}
footer{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: 70px;
    font-size: 18px;
    border-top: 1px solid var(--theme-border);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid var(--theme-border);
    font-size: 20px;
    padding: 0px 10px;
}

header img{
    max-width: 95px;
}
.taskcard li{
    font-size: 20px;
    list-style: none;
    margin: 20px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskcard li.completed{
    box-shadow: rgb(48, 114, 0) 0px 1px 4px;
}
  
.taskcard li.incomplete{
    box-shadow: rgba(135, 20, 0, 0.689) 0px 1px 4px;
}

.taskcard button.delete{
    border: 0px;
    border-radius: 5px;
    background-color: #be3434;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
}
.tasklist ul{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}

.tasklist .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    margin-bottom: 30px;
}

.tasklist h1{
    font-size: 28px;
    text-align: center;
}

.tasklist button.trigger{
    border: 0px;
    border-radius: 5px;
    background-color: var(--theme-button);
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}
.App{
  text-align: center;
  padding: 0px 10px;
}

.hidden{
  display: none;
}
main{
    min-width: 1200px;
    min-height: 75vh;
    margin: auto;
    padding: 10px;
}